body {
  background-color: #FFe4e1;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  padding-left: 550px;
  box-shadow: inset 0 12px 16px 0 #FFe9e9, 0 17px 50px 0 #b87575a8;
}
label {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding-left: 260px;
}
p {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  padding-left: 16rem;
}
button:hover {
  background-color: #FFe5e6;
  color: black;
  border: 2px solid #d48282;
  box-shadow: inset 0 12px 16px 0 #FFe9e9, 0 17px 50px 0 #c059507c;
}
button {
  display: flex;
  justify-content: center;
  font-family: 'Lobster', cursive;
  background: #f1c2c2;
  color: #792532;
  height: 40px;
}

